body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-menu-box{
  display: flex;
  justify-content: end;
  align-items: end;
  font-family: mojito, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: #2980b9;
}
.row{
	margin: 20px auto;
}
.page-heading{
	text-align: center;
}
.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	color: white;
	font-size: 80%;
	background: #004463;
	padding: 30px;
	border-radius: 4px;
}
.footer a{
	color: white;
	text-decoration: none;
}
.footer a:hover{
	color: #2880B9;
	text-decoration: underline;
}
.footer-links, .footer-info, .footer-logo{
	width:90%;
	margin: 10px auto;
	list-style: none;
}
.footer-info span{
	font-size:120%;
	font-weight:bold;
}
.footer-project{
	width:50%;
	text-align: center;
	margin: auto;
}
.address{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
}

@media all and (max-width: 992px) {
  .logo-img{
    text-align: center;
  }
  .nav-menu-box{
    justify-content: center !important;
  }
  .nav-menu{
    flex-wrap: nowrap;
    white-space: nowrap;
  }
  .footer{
	  flex-direction: column;
  }
}